@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Sniglet', cursive;
}

body {
    background-color: white;
}

.main {
    height: 100vh;
    width: 100vw;
}

header {
    height: 8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
}

.hero {
    width: 100%;
    height: 84%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.quiz-details {
    width: 90%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(24, 24, 152);
    color: aliceblue;
    margin-top: 10px;
    border-radius: 20px;
    padding: 6px;

}

.quiz-history {
    /* border: solid red 2px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.quiz-level {
    width: -50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.score-details {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-img {
    height: 70%;
    width: 70%;
    background: aqua;
    border-radius: 50px;
}

.quiz-type {
    height: 30%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.js-quiz,
.js-interview {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(24, 24, 152);
    margin: 4px;
    border-radius: 16px;
    text-align: center;
}

.interview-btn,
.quiz-btn {
    width: 80%;
    height: 20%;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
}

.interview-btn:hover,
.quiz-btn:hover {
    cursor: pointer;
    transition: all 100ms ease-in-out;
    background: linear-gradient(135deg, rgb(254, 248, 76) 0%, rgb(251, 105, 98) 20%, rgb(17, 3, 15) 40%, rgb(238, 44, 130) 60%, rgb(151, 120, 209) 80%, rgb(74, 234, 220) 100%);
}

footer {
    height: 8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer span {
    font-size: smaller;
    font-style: italic;
}




/* quiz section css */

.quiz-section-header {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
}

.quiz-section-header a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
    background: white;
    padding: 4px 8px;
    border-radius: 10px;

}

.quiz-section-header a:hover {
    color: red;
}

.quiz-section-question {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border: 1px solid black;
    margin: 10%;
    border-radius: 25px;
    background-color: aliceblue;
}

.quiz-section-answers {
    height: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.q-options {
    height: 20%;
    border: 1px solid black;
    width: 80%;
    border-radius: 10px;
    font-size: smaller;
    background-color: beige;
    text-align: center;
    overflow: auto;
    cursor: pointer;
}

.quiz-background {
    height: 30%;
    width: 100%;
    background-color: rgb(24, 24, 152);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: -1;
}

.quiz-img-background {

    position: absolute;
    top: 45%;
    left: 25%;
    z-index: -2;
    opacity: .3;
}

.quiz-img-background img {
    width: 150px;
    height: 150px;
}

.c-img {
    max-width: 15px;
    height: 15px;
    background: green;
    border-radius: 50px;

}

.w-img {
    max-width: 15px;
    height: 15px;
    background: red;
    border-radius: 50px;

}

.t-img {
    max-width: 15px;
    height: 15px;
    background: orange;
    border-radius: 50px;
}

.correct,
.wrong,
.total {
    /* font-weight: bold; */
    font-size: medium;
    margin-left: 6px;
    /* padding-bottom: 16px; */


}

.quiz-history span {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

@media only screen and (min-width : 992px) {
    .main {
        width: 60%;
        margin-right: 20%;
        margin-left: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
    }

    .q-options {
        height: 20%;
        border: 1px solid black;
        width: 65vh;
        border-radius: 10px;
        cursor: pointer;
    }


    .quiz-img-background {

        position: absolute;
        top: 49%;
        left: 45%;
        z-index: -2;
        opacity: .3;
    }

    .quiz-img-background img {
        width: 250px;
        height: 250px;
    }
}